config SND_SOC_SOF_PCI
	tristate

config SND_SOC_SOF_ACPI
	tristate

config SND_SOC_SOF_PLATFORM
	tristate

config SND_SOC_SOF_NOCODEC
	tristate

config SND_SOC_SOF
	tristate "Sound Open Firmware Support"
	default m
	select SND_SOC_TOPOLOGY
	select SND_SOC_COMPRESS
	select SND_SOC_SOF_NOCODEC
	help
          This adds support for SOF
          Say Y if you have such a device.
          If unsure select "N".

config SND_SOC_SOF_INTEL
	tristate "SOF support for Intel audio DSPs"
	depends on SND_SOC_SOF
	help
          This adds support for Sound Open Firmware for Intel(R) platforms.
          Say Y if you have such a device.
          If unsure select "N".

config SND_SOC_SOF_BAYTRAIL
	tristate "SOF support for Baytrail, Braswell and Cherrytrail"
	depends on SND_SOC_SOF_INTEL
	select SND_SOC_SOF_ACPI
	help
          This adds support for Sound Open Firmware for Intel(R) platforms
          using the Baytrail, Braswell or Cherrytrail processors.
          Say Y if you have such a device.
          If unsure select "N".

config SND_SOC_SOF_HASWELL
	tristate "SOF support for Haswell"
	depends on SND_SOC_SOF_INTEL
	select SND_SOC_SOF_ACPI
	help
          This adds support for Sound Open Firmware for Intel(R) platforms
          using the Haswell processors.
          Say Y if you have such a device.
          If unsure select "N".

config SND_SOC_SOF_BROADWELL
	tristate "SOF support for Broadwell"
	depends on SND_SOC_SOF_INTEL
	select SND_SOC_SOF_ACPI
	help
          This adds support for Sound Open Firmware for Intel(R) platforms
          using the Broadwell processors.
          Say Y if you have such a device.
          If unsure select "N".

config SND_SOC_SOF_APOLLOLAKE
	tristate "SOF support for Apollolake"
	depends on SND_SOC_SOF_INTEL
	select SND_SOC_SOF_PCI
	help
          This adds support for Sound Open Firmware for Intel(R) platforms
          using the Apollolake processors.
          Say Y if you have such a device.
          If unsure select "N".
