/*
 * Copyright (c) 2016 Fuzhou Rockchip Electronics Co., Ltd
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/ {
	energy-costs {
		RK3399_CPU_COST_0: rk3399-core-cost0 {
			busy-cost-data = <
				115    31	/*  408M */
				174    42	/*  600M */
				239    56	/*  816M */
				298    82	/* 1008M */
				356    109	/* 1200M */
				422    168	/* 1416M */
				451    206	/* 1512M */
			>;
			idle-cost-data = <
				4
				4
			>;
		};

		RK3399_CPU_COST_1: rk3399-core-cost1 {
			busy-cost-data = <
				195   120	/*  408MHz */
				298   187	/*  600MHz */
				410   239	/*  816MHz */
				505   324	/* 1008MHz */
				607   455	/* 1200MHz */
				716   616	/* 1416MHz */
				805   789	/* 1608MHz */
				904   1038	/* 1800MHz */
				1024  1421	/* 2016MHz */
			>;
			idle-cost-data = <
				5
				5
			>;
		};

		RK3399_CLUSTER_COST_0: rk3399-cluster-cost0 {
			busy-cost-data = <
				115    7	/*  408M */
				174    10	/*  600M */
				239    10	/*  816M */
				298    20	/* 1008M */
				356    26	/* 1200M */
				422    48	/* 1416M */
				451    47	/* 1512M */
			>;
			idle-cost-data = <
				7
				7
			>;
		};

		RK3399_CLUSTER_COST_1: rk3399-cluster-cost1 {
			busy-cost-data = <
				195   18	/*  408MHz */
				298   25	/*  600MHz */
				410   30	/*  816MHz */
				505   41	/* 1008MHz */
				607   46	/* 1200MHz */
				716   74	/* 1416MHz */
				805   74	/* 1608MHz */
				904   96	/* 1800MHz */
				1024  100	/* 2016MHz */
			>;
			idle-cost-data = <
				25
				25
			>;
		};
	};
};
