
menu "USB Type-C Multiplexer/DeMultiplexer Switch support"

config TYPEC_MUX_PI3USB302
	tristate "Pericom PI3USB302_A Mux/DeMux Switch"
	help
	  Say Y or M if your system has Pericom PI3USB302_A 2-differential
	  channel bi-directional multiplexer/demultiplexer switch for USB 3.0
	  signals.

endmenu
